/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --color-text-shadow: var(--accent-color);
  --corner-color: var(--accent-color);
  --link-accent: var(--accent-color);
  --heading-color: var(--accent-color);
  --button-color: var(--accent-color);
  --button-hover-color: #FF007040;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --background-color: var(--subtitle-color);
  --main-text-color: #F1B2CE;
  --section-title-color: var(--accent-color);
  --link-accent: var(--accent-color);
  --link-hover-color: var(--main-text-color);
  --link-focus-color: var(--main-text-color);
  --background-image: url(../images/cover-image-dark.png);
}
